@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Quicksand:wght@400;700&display=swap');

html {
    font-family: 'DM Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}