@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Quicksand:wght@400;700&display=swap');

@font-face {
    font-family: 'Paradox';
    src: url('/assets/fonts/Paradox.woff2');
}

:root {
    --azure: #007FFF;
    --dark-blue: #08539E;
    --little-boy: #4FA3F7;
}

html {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--dark-blue);
}

body {
    margin: 0;
    z-index: -2;
    overflow-x: hidden;
}

.particles {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
    position: sticky;
    top: 0
}

header .homeLink {
    font-family: 'Paradox', sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: -0.1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--little-boy);
    margin: 0.5rem 0;

    transition: color 0.15s, font-size 0.15s;
}

header .homeLink:hover {
    color: hsl(210, 91%, 85%);
}

header .homeLink span {
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
    display: block;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    
    transition: letter-spacing 0.2s, font-size 0.15s;
}

header .homeLink:hover span {
    letter-spacing: 0.35rem;
}

.container {
    max-width: 900px;
    margin: auto;
    font-size: 3rem;
}