@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Quicksand:wght@400;700&display=swap');

@font-face {
    font-family: 'Paradox';
    src: url('/assets/fonts/Paradox.woff2');
}

:root {
    --azure: #007FFF;
    --celtic: #196DC2;
    --dark-blue: #08539E;
    --little-boy: #4FA3F7;
    --smallest-boy: #b6d9fc;
}

html {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--celtic);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    z-index: -2;
    overflow-x: hidden;
}

.particles {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 1200px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--dark-blue);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    overflow-anchor: none;
}

.anchorTop {
    position: fixed;
    z-index: 11;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 2rem;
    text-transform: none;
    color: var(--little-boy);
    opacity: 0;
    pointer-events: none;


    transition: color 0.15s, opacity 0.25s;
}

.anchorTop:hover {
    color: var(--smallest-boy);
}

header .homeLink {
    font-family: 'Paradox', sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: -0.1rem;
    
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--little-boy);
    margin: 0.5rem 0;

    transition: color 0.15s, font-size 0.15s;
    overflow-anchor: none;
}

header .homeLink:hover {
    color: var(--smallest-boy);
}

header .homeLink span {
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
    display: block;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    
    transition: letter-spacing 0.2s, font-size 0.15s;
    overflow-anchor: none;
}

header .homeLink:hover span {
    letter-spacing: 0.35rem;
}

header nav {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--little-boy);
    font-size: 1.25rem;

    transition: color 0.15s, font-size 0.15s;
}

header nav a {
    display: inline-block;
    width: 100%;
    padding: 0.25rem 0;
    text-align: center;

    transition: color 0.15s, letter-spacing 0.15s, font-size 0.15s;
}

header nav a:hover {
    color: var(--smallest-boy);
    letter-spacing: 0.05rem;
}

main {
    padding-top: 3rem;
    margin: auto;
    font-size: 4rem;
    background-color: var(--smallest-boy);
}


@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    main {
        background-color: rgba(255, 255, 255, .15);
        -webkit-backdrop-filter: blur(0.5rem);
        backdrop-filter: blur(0.5rem);
      }
}